<Server>
  <UserName>expert_futureworkforce_1</UserName>
  <Password>wKjeKlh7Ab+JTtqB/5nfgPDiD7Mb4ln83SburHEhX2Bd3d23urFrfJhJ4LjX3puDZr0eUH445bc=-17YcwhNHfAw=-1fkrsUhC+80=</Password>
  <Host>expert-monitor.ro</Host>
  <Port>8080</Port>
  <RelativePath>/LexMonitor/CEOnline/</RelativePath>
  <SavePassword>1</SavePassword>
</Server>